.section {
  padding: 0.5rem 1rem;
  min-width: 100vw;
  min-height: 50vh;
  background-color: var(--light-blue)!important;
  color: var(--dark-blue);
  display: flex;
  justify-content: center;
}

.sectionContent {
  width: clamp(300px, 80%, 1000px);
}

.section:nth-child(2n) {
  background-color: var(--blue)!important;
  color: var(--dark-blue);
}

.section:nth-child(3n) { 
  background-color: var(--light-blue)!important;
  color: var(--dark-blue);
}

@media screen and (min-width: 768px) {
  .section {
    padding: 1rem 2rem;
    font-size: large;
  }
}

.map {
  border: 5px solid var(--blue);
  border-radius: 0.25rem;
}