
/* Colours */

:root {
  --light-blue: #8ECAE6;
  --blue: #219EBC;
  --dark-blue: #023047;
  --yellow: #FFB703;
  --orange: #FB8500;
  --black: #232323;
  --white: #FFFFFF;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--light-blue);
}

body {
  margin-top: 5vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
}
