.container {
  padding: 0;
}

.main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home {
  position: relative;
  min-height: 95vh;
  min-width: 100vw;
}

.image {
  object-fit: cover;
  z-index: 0;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white);
  z-index: 1;
  position: relative;
}

.titleContainer {
  margin-top: 15vh;
  width: 100%;
  background-color: var(--dark-blue);
}

.title {
  line-height: 1.15;
  font-size: clamp(1.5rem, 5vw, 3rem);
  text-align: center;
}

.subTitleContainer {
  width: 100%;
  background-color: var(--blue);
}

.subTitle {
  line-height: 1.15;
  font-size: clamp(1rem, 2vw, 2rem);
  text-align: center;
}

.map {
  border: 1px solid var(--dark-blue);
}

.pageHeader {
  min-width: 100vw;
  margin: 0;
  padding: 1em 0.25em;
  background-color: var(--light-blue);
}

.adminLink {
  color: var(--blue);
  text-decoration: underline;
}

.guestListItem {
  border: 1px solid var(--dark-blue);
  margin: 0.5em 0;
  padding: 0.5em;
  width: fit-content;
}

.guestListTable {
  margin: 0 auto;
}

.guestListTableItem {
  border: 1px solid var(--dark-blue);
  margin: 0.5em 0;
  padding: 0.5em;
  width: fit-content;
}