.map {
  border: 1px solid var(--dark-blue);
  margin: 1rem;
}

.title {
  margin: 0;
  padding: 1rem 2rem;
  line-height: 1.15;
  font-size: clamp(1.5rem, 5vw, 3rem);
  text-align: center;
  background-color: var(--dark-blue)!important;
  color: var(--white);
}

.background {
  background-color: var(--light-blue)!important;
}

.address {
  margin: 0;
  padding: 1rem 2rem;
  text-align: center;
}

.link {
  text-decoration: underline;
}